@charset "UTF-8";
.dis {
  display: flex;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displ {
  display: flex;
  justify-content: space-between;
}
.winw {
  min-width: 320px;
  max-width: 780px;
}
.button-three {
  width: 80%;
  border: none;
  background-color: #fab344;
  color: white;
  font-size: 1.6rem;
}
body {
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  font-size: 62.5%;
}
header {
  background-color: #29bde0;
}
main {
  background-color: #29bde0;
  font-size: 1.6rem;
  border-top: solid 1px #74d4eb;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: #29bde0;
}
.img-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: #29bde0;
}
